@import "styles/contact.css";
@import "styles/home.css";
@import "styles/listOfProjects.css";
@import "styles/listOfProjects.css";
@import "styles/navBar.css";
@import "styles/projectsMini.css";
@import "styles/foot.css";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600;1,800&display=swap');
@import url('<https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}